{#
  Title: Form
  Description: Form block
  Category: RD-blocks
  Icon: money
  Keywords: form
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="rd-block rd-spacing rd-spacing--light-yellow rd-form">
  <div class="rd-container rd-form-content">
    {% if fields.title %}
      <h2 class="rd-form__title">{{ fields.title }}</h2>
    {% endif %}
    {#}
    {% if fields.shortcode %}
    <div class="rd-form-main">{{fn('do_shortcode', fields.shortcode|striptags)}}</div>
    {% endif %}
    #}

    {% if post.slug == 'free-quote' %}
      <div class="rd-form-main">
        <style>
          .rd-form-main form {
            BORDER-RIGHT-WIDTH: 2px;
            BACKGROUND-COLOR: #f2a324;
            BORDER-TOP-WIDTH: 2px;
            BORDER-BOTTOM-WIDTH: 2px;
            BORDER-LEFT-WIDTH: 2px;
            -webkit-transform: scale(1);  
            padding: 24px;
            border-radius: 1rem
          }

          .rd-form-main #docContainer .fb-item.fb-50-item-column {
            width: 49%;
            padding: 5px 4px 10px 4px;
            display: inline-block;
          }

          .rd-form-main #docContainer .fb-item.fb-100-item-column {
            width: 100%;
            padding: 5px 4px 10px 4px;
            display: inline-block;
          }

          .rd-form-main #docContainer #column1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }

          .rd-form-main #docContainer .fb-input-box input,
          .rd-form-main #docContainer .fb-dropdown select,
          .rd-form-main #docContainer .fb-input-date input {
            color: rgb(69, 69, 69);
            border: 1px solid rgb(220, 223, 231);
            border-top-color: rgb(170, 173, 178);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            width: 100%;
            padding: 10px;
          }

          .rd-form-main .fb-textarea textarea {
            width: 100%;
            padding: 10px;
            border-radius: 3px !important;
          }

          .rd-form-main .fb-footer {
            text-align: center;
          }

          .rd-form-main .error {
            color: rgb(255 0 0);
          }
        </style>

        <form style="" id="docContainer" class="fb-toplabel fb-100-item-column selected-object"
          enctype="multipart/form-data" method="post" action="https://studentmovers.vonigo.com/external/intake/7.aspx?updateMode=3" novalidate="novalidate"
          data-form="manual_iframe">
          <div id="section1" class="section">
            <div id="column1" class="column ui-sortable">
              <div style="MIN-HEIGHT: 200px; DISPLAY: none" id="fb_confirm_inline">
              </div>
              <div style="DISPLAY: none" id="fb_error_report">
              </div>
              <div id="item0" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: normal"
                  id="item0_label_0">Company Name</label>
                </div>
                <div class="fb-input-box">
                  <input id="companyName" maxlength="254" name="fieldAcc1" placeholder="Company Name"
                  autocomplete="off" data-hint="" type="text" />
                </div>
              </div>
              <div id="item1" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: normal"
                  id="item1_label_0">Company Phone #</label>
                </div>
                <div class="fb-input-box">
                  <input id="companyPhone" maxlength="254" name="fieldAcc2" placeholder="Company Phone Number"
                  autocomplete="off" data-hint="" type="number" />
                </div>
              </div>
              <div id="item2" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: bold"
                  id="item2_label_0">Contact First Name</label>
                </div>
                <div class="fb-input-box">
                  <input id="firstName" maxlength="254" name="firstName" placeholder="First Name *"
                  autocomplete="off" data-hint="" required type="text" />
                </div>
              </div>
              <div id="item3" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: bold"
                  id="item3_label_0">Contact Last Name</label>
                </div>
                <div class="fb-input-box">
                  <input id="lastName" maxlength="254" name="lastName" placeholder="Last Name *"
                  autocomplete="off" data-hint="" required type="text" />
                </div>
              </div>
              <div id="item19" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: bold"
                  id="item19_label_0">Contact Phone</label>
                </div>
                <div class="fb-input-box">
                  <input id="phoneNumber" maxlength="254" name="fieldAcc12" placeholder="Phone Number *"
                  autocomplete="off" data-hint="" required type="text" />
                </div>
              </div>
              <div id="item5" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: bold"
                  id="item5_label_0">Contact Email</label>
                </div>
                <div class="fb-input-box">
                  <input id="email" class="" maxlength="254" name="fieldAcc13" placeholder="you@domain.com *"
                  autocomplete="off" data-hint="" required type="email" />
                </div>
              </div>
              <div id="item8" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: bold" id="item8_label_0">Move Type</label>
                </div>
                <div class="fb-dropdown">
                  <select id="moveType" name="fieldAcc16" onchange="changeClientType(this)" data-hint="" required>
                    <option id="item8_0_option" value="--" selected>
                      Choose one
                    </option>
                    <option id="item8_1_option" value="10568">
                      Commercial
                    </option>
                    <option id="item8_2_option" value="10567">
                      Residential
                    </option>
                  </select>
                </div>
              </div>
              <div style="FILTER: " id="item9" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: bold" id="item9_label_0">Moving Date</label>
                </div>
                <div class="fb-input-date">
                  <input id="moveDate" class="datepicker" name="fieldAcc3" data-hint="" placeholder="Moving Date *"
                  type="text" required />
                </div>
              </div>
              <div style="FILTER: " id="item10" class="fb-item fb-50-item-column">
                  <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: bold" id="item10_label_0">Move Time Preferred</label>
                </div>
                <div class="fb-dropdown">
                  <select id="moveTime" name="fieldAcc4" data-hint="" required>
                    <option id="item10_0_option" value="--" selected>
                      Choose one
                    </option>
                    <option id="item10_1_option" value="10474">
                      9 am to 10 am
                    </option>
                    <option id="item10_2_option" value="10475">
                      12 pm to 4 pm
                    </option>
                    <option id="item10_2_option" value="10476">
                      3 pm to 7 pm
                    </option>
                  </select>
                </div>
              </div>
              <div style="width: 100%; padding: 20px 0" id="item14" class="fb-item">
                <div class="fb-sectionbreak">
                  <hr style="MAX-WIDTH: 100%">
                </div>
              </div>
              <div style="FILTER: " id="item13" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: bold" id="item13_label_0">From Zip Code</label>
                </div>
                <div class="fb-input-box">
                  <input id="fromZip" maxlength="10" name="zip" placeholder="From Zip Code *"
                  autocomplete="off" data-hint="" type="text" required/>
                </div>
              </div>
              <div style="FILTER: " id="item15" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: bold" id="item15_label_0">To Zip Code</label>
                </div>
                <div class="fb-input-box">
                  <input id="toZip" maxlength="10" name="zipPic" placeholder="To Zip Code *"
                  autocomplete="off" data-hint="" type="text" required />
                </div>
              </div>
              <div style="FILTER: " id="item17" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: bold" id="item17_label_0">From # Bedrooms</label>
                </div>
                <div class="fb-dropdown">
                  <select id="fromBedrooms" name="fieldAcc5" data-hint="" required>
                    <option id="item17_0_option" value="--" selected>
                      Choose one
                    </option>
                    <option id="item17_1_option" value="10492">
                      1 Bedroom
                    </option>
                    <option id="item17_2_option" value="10493">
                      2 Bedroom
                    </option>
                    <option id="item17_3_option" value="10494">
                      3 Bedroom
                    </option>
                    <option id="item17_4_option" value="10495">
                      4 Bedroom
                    </option>
                    <option id="item17_5_option" value="10496">
                      5 Bedroom
                    </option>
                    <option id="item17_6_option" value="10497">
                      6 Bedroom
                    </option>
                    <option id="item17_7_option" value="10498">
                      Not Applicable
                    </option>
                  </select>
                </div>
              </div>
              <div style="FILTER: " id="item18" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: bold" id="item18_label_0">To # Bedrooms</label>
                </div>
                <div class="fb-dropdown">
                  <select id="toBedrooms" name="fieldAcc6" data-hint="" required>
                    <option id="item18_0_option" value="--" selected>
                      Choose one
                    </option>
                    <option id="item18_1_option" value="10500">
                      1 Bedroom
                    </option>
                    <option id="item18_2_option" value="10501">
                      2 Bedroom
                    </option>
                    <option id="item18_3_option" value="10502">
                      3 Bedroom
                    </option>
                    <option id="item18_4_option" value="10503">
                      4 Bedroom
                    </option>
                    <option id="item18_5_option" value="10504">
                      5 Bedroom
                    </option>
                    <option id="item18_6_option" value="10505">
                      6 Bedroom
                    </option>
                    <option id="item18_7_option" value="10506">
                      Not Applicable
                    </option>
                  </select>
                </div>
              </div>
              <div style="FILTER: " id="item23" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: normal" id="item23_label_0">From # Floors</label>
                </div>
                <div class="fb-input-box">
                  <input id="fromFloors" maxlength="254" name="fieldAcc7" placeholder="From # Floors"
                  autocomplete="off" data-hint="" type="number" max="999" />
                </div>
              </div>
              <div style="FILTER: " id="item20" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: normal" id="item20_label_0">To # Floors</label>
                </div>
                <div class="fb-input-box">
                  <input id="toFloors" maxlength="254" name="fieldAcc8" placeholder="To # Floors" 
                  autocomplete="off" data-hint="" type="number" max="999" />
                </div>
              </div>
              <div style="FILTER: " id="item21" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: bold" id="item21_label_0">From Property Type</label>
                </div>
                <div class="fb-dropdown">
                <select id="fromPropertyType" name="fieldAcc9" data-hint="" required>
                <option id="item21_0_option" value="--" selected>
                  Choose one
                </option>
                <option id="item21_1_option" value="10483">
                  Apartment
                </option>
                <option id="item21_2_option" value="10484">
                  Condo
                </option>
                <option id="item21_3_option" value="10482">
                  House
                </option>
                <option id="item21_4_option" value="10485">
                  Office
                </option>
                <option id="item21_5_option" value="10550">
                  Other
                </option>
                <option id="item21_6_option" value="10544">
                  Storage
                </option>
                </select>
              </div>
              </div>
              <div style="FILTER: " id="item22" class="fb-item fb-50-item-column">
                <div class="fb-grouplabel">
                  <label style="FONT-STYLE: italic; DISPLAY: inline; FONT-WEIGHT: bold" id="item22_label_0">To Property Type</label>
                </div>
                <div class="fb-dropdown">
                <select id="toPropertyType" name="fieldAcc10" data-hint="" required>
                <option id="item22_0_option" value="--" selected>
                  Choose one
                </option>
                <option id="item22_1_option" value="10488">
                  Apartment
                </option>
                <option id="item22_2_option" value="10489">
                  Condo
                </option>
                <option id="item22_3_option" value="10487">
                  House
                </option>
                <option id="item22_4_option" value="10490">
                  Office
                </option>
                <option id="item22_5_option" value="10551">
                  Other
                </option>
                <option id="item22_6_option" value="10545">
                  Storage
                </option>
                </select>
              </div>
              </div>
              <div style="FILTER: " id="item96" class="fb-item fb-100-item-column">
                <div class="fb-grouplabel">
                  <label style="DISPLAY: inline; FONT-WEIGHT: normal" id="item16_label_0">Comment</label>
                  
                </div>
                <div class="fb-textarea">
                  <textarea style="HEIGHT: 100px; resize: none" id="item16_textarea_1" class=""
                  name="fieldAcc11" placeholder="Example: house move, office move, appliances, large or heavy items, 2 or 3 men preferred, piano, pool table, gun safe, etc.." data-hint="" maxlength="10000"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div style="BACKGROUND-COLOR: transparent; MIN-HEIGHT: 1px" id="fb-submit-button-div"
          class="fb-footer fb-item-alignment-center">
            <input style="BACKGROUND-IMAGE: url(theme/default/images/btn_submit.png)"
            id="fb-submit-button" class="fb-button-special btn btn-secondary" type="submit" data-regular=""
            value="Get Quote" onclick="submitForm()"/>
          </div>
          <!-- used defined system values please replace them as nessesary -->
            <input type='hidden' name='URL_REDIRECT' value='https://ge37949aub.wpdns.site/thank-you/'  />
            <input type='hidden' name='campaign' value='Internet' />
            <input type='hidden' name='serviceTypeID' value='11' />
            <input type='hidden' name='clienttypeID' id='clienttypeID' value='1' />
            <input type='hidden' name='accFieldCount' value='15' />
            <input type='hidden' name='countryID' value='2' />
            <input type='hidden' name='fieldTypeAccID1' value='1' />
            <input type='hidden' name='fieldAcc1_REQ' value='false' />
            <input type='hidden' name='fieldAcc1_VAR' />
            <input type='hidden' name='fieldAcc1_TID' value='5' />
            <input type='hidden' name='fieldAcc1_MOD' value='1' />
            <input type='hidden' name='fieldAccID1' value='10615' />
            <input type='hidden' name='fieldTypeAccID2' value='12' />
            <input type='hidden' name='fieldAcc2_REQ' value='false' />
            <input type='hidden' name='fieldAcc2_VAR' />
            <input type='hidden' name='fieldAcc2_TID' value='12' />
            <input type='hidden' name='fieldAcc2_MOD' value='1' />
            <input type='hidden' name='fieldAccID2' value='10616' />
            <input type='hidden' name='fieldAcc3-YEAR' value='' />
            <input type='hidden' name='fieldAcc3-MONTH' value='' />
            <input type='hidden' name='fieldAcc3-DAY' value='' />
            <input type='hidden' name='fieldTypeAccID3' value='10' />
            <input type='hidden' name='fieldAcc3_REQ' value='false' />
            <input type='hidden' name='fieldAcc3_VAR' />
            <input type='hidden' name='fieldAcc3_TID' value='10' />
            <input type='hidden' name='fieldAcc3_MOD' value='1' />
            <input type='hidden' name='fieldAccID3' value='10224' />
            <input type='hidden' name='fieldAcc4' value='' />
            <input type='hidden' name='fieldTypeAccID4' value='6' />
            <input type='hidden' name='fieldAcc4_REQ' value='false' />
            <input type='hidden' name='fieldAcc4_VAR' />
            <input type='hidden' name='fieldAcc4_TID' value='6' />
            <input type='hidden' name='fieldAcc4_MOD' value='1' />
            <input type='hidden' name='fieldAccID4' value='10624' />
            <input type='hidden' name='fieldAcc5' value='' />
            <input type='hidden' name='fieldTypeAccID5' value='6' />
            <input type='hidden' name='fieldAcc5_REQ' value='false' />
            <input type='hidden' name='fieldAcc5_VAR' />
            <input type='hidden' name='fieldAcc5_TID' value='6' />
            <input type='hidden' name='fieldAcc5_MOD' value='1' />
            <input type='hidden' name='fieldAccID5' value='10630' />
            <input type='hidden' name='fieldAcc6' value='' />
            <input type='hidden' name='fieldTypeAccID6' value='6' />
            <input type='hidden' name='fieldAcc6_REQ' value='false' />
            <input type='hidden' name='fieldAcc6_VAR' />
            <input type='hidden' name='fieldAcc6_TID' value='6' />
            <input type='hidden' name='fieldAcc6_MOD' value='1' />
            <input type='hidden' name='fieldAccID6' value='10631' />
            <input type='hidden' name='fieldAcc7' value='' />
            <input type='hidden' name='fieldTypeAccID7' value='1' />
            <input type='hidden' name='fieldAcc7_REQ' value='false' />
            <input type='hidden' name='fieldAcc7_VAR' />
            <input type='hidden' name='fieldAcc7_TID' value='1' />
            <input type='hidden' name='fieldAcc7_MOD' value='1' />
            <input type='hidden' name='fieldAccID7' value='10611' />
            <input type='hidden' name='fieldAcc8' value='' />
            <input type='hidden' name='fieldTypeAccID8' value='1' />
            <input type='hidden' name='fieldAcc8_REQ' value='false' />
            <input type='hidden' name='fieldAcc8_VAR' />
            <input type='hidden' name='fieldAcc8_TID' value='1' />
            <input type='hidden' name='fieldAcc8_MOD' value='1' />
            <input type='hidden' name='fieldAccID8' value='10612' />
            <input type='hidden' name='fieldTypeAccID9' value='6' />
            <input type='hidden' name='fieldAcc9_REQ' value='false' />
            <input type='hidden' name='fieldAcc9_VAR' />
            <input type='hidden' name='fieldAcc9_TID' value='6' />
            <input type='hidden' name='fieldAcc9_MOD' value='1' />
            <input type='hidden' name='fieldAccID9' value='10628' />
            <input type='hidden' name='fieldTypeAccID10' value='6' />
            <input type='hidden' name='fieldAcc10_REQ' value='false' />
            <input type='hidden' name='fieldAcc10_VAR' />
            <input type='hidden' name='fieldAcc10_TID' value='6' />
            <input type='hidden' name='fieldAcc10_MOD' value='1' />
            <input type='hidden' name='fieldAccID10' value='10629' />
            <input type='hidden' name='fieldTypeAccID11' value='5' />
            <input type='hidden' name='fieldAcc11_REQ' value='false' />
            <input type='hidden' name='fieldAcc11_VAR' />
            <input type='hidden' name='fieldAcc11_TID' value='5' />
            <input type='hidden' name='fieldAcc11_MOD' value='1' />
            <input type='hidden' name='fieldAccID11' value='230' />
            <input type='hidden' name='fieldTypeAccID12' value='12' />
            <input type='hidden' name='fieldAcc12_REQ' value='false' />
            <input type='hidden' name='fieldAcc12_VAR' />
            <input type='hidden' name='fieldAcc12_TID' value='12' />
            <input type='hidden' name='fieldAcc12_MOD' value='1' />
            <input type='hidden' name='fieldAccID12' value='228' />
            <input type='hidden' name='fieldTypeAccID13' value='11' />
            <input type='hidden' name='fieldAcc13_REQ' value='false' />
            <input type='hidden' name='fieldAcc13_VAR' />
            <input type='hidden' name='fieldAcc13_TID' value='11' />
            <input type='hidden' name='fieldAcc13_MOD' value='1' />
            <input type='hidden' name='fieldAccID13' value='229' />
            <input type='hidden' name='fieldAcc14' value='' />
            <input type='hidden' name='fieldTypeAccID14' value='1' />
            <input type='hidden' name='fieldAcc14_REQ' value='false' />
            <input type='hidden' name='fieldAcc14_VAR' />
            <input type='hidden' name='fieldAcc14_TID' value='1' />
            <input type='hidden' name='fieldAcc14_MOD' value='1' />
            <input type='hidden' name='fieldAccID14' value='10228' />
            <input type='hidden' name='fieldAcc15' value='' />
            <input type='hidden' name='fieldTypeAccID15' value='1' />
            <input type='hidden' name='fieldAcc15_REQ' value='false' />
            <input type='hidden' name='fieldAcc15_VAR' />
            <input type='hidden' name='fieldAcc15_TID' value='1' />
            <input type='hidden' name='fieldAcc15_MOD' value='1' />
            <input type='hidden' name='fieldAccID15' value='10229' />
            <input type="hidden" name="fieldAcc16" value="">
            <input type="hidden" name="fieldTypeAccID16" value="6">
            <input type="hidden" name="fieldAcc16_REQ" value="false">
            <input type="hidden" name="fieldAcc16_VAR">
            <input type="hidden" name="fieldAcc16_TID" value="6">
            <input type="hidden" name="fieldAcc16_MOD" value="1">
            <input type="hidden" name="fieldAccID16" value="10646">

            <!-- end system fields -->
        </form>
        <!-- Google Code for Lead Conversion Page
          In your html page, add the snippet and call
          goog_report_conversion when someone clicks on the
          chosen link or button.
        -->

        <script type="text/javascript">
          /* <![CDATA[ */
          goog_snippet_vars = function() {
            var w = window;
            w.google_conversion_id = 1010898334;
            w.google_remarketing_only = false;
          }
          // DO NOT CHANGE THE CODE BELOW.
          goog_report_conversion = function(url) {
            goog_snippet_vars();
            window.google_conversion_format = "3";
            var opt = new Object();
            opt.onload_callback = function() {
            if (typeof(url) != 'undefined') {
              window.location = url;
            }
          }
          var conv_handler = window['google_trackConversion'];
          if (typeof(conv_handler) == 'function') {
            conv_handler(opt);
          }
        }
        </script>
        <script type="text/javascript"
          src="//www.googleadservices.com/pagead/conversion_async.js">
        </script>
        <script>
        window.addEventListener('load', function(){
          jQuery('input[value="Get Quote"]').click(function(){
          goog_report_conversion();
        })
        })
        </script>
      </div>
    {% endif %}
  </div>
</section>