{#
  Title: Logo
  Description: Logo block
  Category: RD-blocks
  Icon: podio
  Keywords: logo
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

{% if fields.logos %}
<section class="rd-block rd-spacing rd-spacing--white rd-spacing--half rd-logo">
	<div class="rd-container">
    <!-- Heading -->
    <div class="rd-heading">
      {% if fields.title %}
        <h2 class="rd-heading__title">{{ fields.title }}</h2>
      {% endif %}
    </div>
    <!-- Heading End -->
    <!-- Content -->
		<div class="swiper logos rd-logo-list">
			<div class="swiper-wrapper">
			{% for logo in fields.logos %}
				<div class="swiper-slide">
					<img src="{{ logo.image.url }}" alt="{{ logo.image.alt }}" class="rd-logo__image">
				</div>
			{% endfor %}
			</div>
		</div>
    <!-- Content End -->
	</div>
</section>
{% endif %}