// Anton Font
@font-face {
  font-family: 'Anton';
  font-display: swap;
  src: url('../fonts/Anton/Anton.ttf') format('truetype');
}

// Archivo Font
@font-face {
  font-family: 'Archivo';
  font-display: swap;
  src: url('../fonts/Archivo/Archivo.ttf') format('truetype');
}

// Verdana Font
@font-face {
  font-family: 'Verdana';
  font-display: swap;
  src: url('../fonts/Verdana/Verdana.ttf') format('truetype');
}

// Verdana Bold Font
@font-face {
  font-family: 'Verdana';
  font-weight: bold;
  font-display: swap;
  src: url('../fonts/Verdana/Verdana-Bold.ttf') format('truetype');
}