// Gilda Font
@font-face {
  font-family: 'Gilda';
  font-display: swap;
  src: url('../fonts/Gilda_Display/GildaDisplay-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal */
}

// Jost Font
@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url('../fonts/Jost/Jost-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal */
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url('../fonts/Jost/Jost-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url('../fonts/Jost/Jost-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url('../fonts/Jost/Jost-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url('../fonts/Jost/Jost-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url('../fonts/Jost/Jost-Black.ttf') format('truetype');
  font-weight: 900; /* Black */
}