.rd-footer {
  @apply relative;
  background: url("../images/background.png") no-repeat center;
  background-size: cover;

  &::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full opacity-90;
    background-color: #808080;
    background-blend-mode: luminosity;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  &::after {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-black opacity-80;
  }

  & ul {
    @apply pl-0 my-0;

    & li::before {
      @apply hidden;
    }
  }

  &-top {
    @apply pt-[60px] pb-10 lg:pt-[100px] lg:pb-20 relative z-[1];
  }

  &-wrapper {
    @apply flex justify-between flex-col lg:flex-row;
  }

  &-heading {
    @apply text-white my-0 text-2xl font-passion lg:leading-[18px] my-4;;
  }

  &-col {
    @apply w-full;
  }

  &-col-1 {
    @apply w-full lg:max-w-[500px];
  }

  &-col-2 {
    @apply w-full lg:max-w-[222px] pt-[50px] lg:pt-0;
  }

  &-col-3 {
    @apply w-full lg:max-w-[265px] pt-[50px] lg:pt-0;
  }

  &-col-wrapper {
    @apply flex flex-col justify-between;
  }

  &-description, &-license {
    @apply text-white pt-12 my-0;
  }

  &-info {
    @apply pt-4 flex flex-col gap-5;

    &__text {
      @apply relative leading-none;

      &:last-child {
        @apply pr-0;

        &::before {
          @apply hidden;
        }
      }
    }
  }

  &-menu {
    @apply pt-[30px] lg:pt-11;

    &-item {
      @apply pt-4 lg:pt-6 text-white;

      &:first-child {
        @apply pt-0;
      }
    }

    &__link {
      &:hover {
        @apply lg:underline;
      }
    }
  }

  &-address {
    @apply pt-[30px] lg:pt-11;

    &-item {
      @apply flex gap-[14px] py-4 lg:py-6 border-b;

      &:first-child {
        @apply pt-0;
      }

      &:last-child {
        @apply pb-0 border-b-0;
      }
    }

    &-item-icon {
      @apply pt-1;
    }

    &-item-text {
      @apply text-white;
    }

    &:hover &-item-text {
      @apply lg:hover:underline;
    }
  }

  &-social {
    @apply pt-[30px] lg:pt-[50px];

    &-list {
      @apply flex gap-5 pt-4;
    }

    &-item__link {
      @apply flex justify-center items-center w-[46px] h-[46px] border border-white12 rounded-full lg:hover:bg-blue lg:hover:border-blue;

      & img {
        @apply max-w-5 h-auto w-full;
      }
    }
  }

  &-bottom {
    @apply relative z-[1];

    &-wrapper {
       @apply flex justify-center items-center z-[2] flex-col lg:flex-row py-[30px] border-t border-white/20;
    }

    &-copy {
      @apply text-white text-center lg:text-left my-0 text-sm;

      & span {
        @apply text-blue
      }
    }

    &-links {
      @apply flex items-center pt-[30px] lg:pt-0;

      &-item {
        @apply relative pr-8;

        &::after {
          content: "/";
          @apply absolute top-0 right-3 text-white; 
        }

        &:last-child {
          @apply pr-0;
        }

        &:last-child::after {
          @apply hidden;
        }
      }

      &__link {
        @apply inline-block text-white lg:hover:underline;
      }
    }
  }

  &__float {
    display: none !important;
    @apply fixed bottom-3 right-20 z-[3];

    @screen lg {
      display: inline-block !important;
    }
  }

  &__btn {
    @apply lg:hidden mt-5;
  }
}