.rd-footer {
  @apply relative;

  & ul {
    @apply pl-0 my-0;

    & li::before {
      @apply hidden;
    }
  }

  &-logo {
    @apply max-w-[115px] lg:max-w-[166px];
  }

  &-top {
    @apply relative z-[1] px-5 lg:px-0;
  }

  &-wrapper {
    @apply flex justify-between flex-col px-0 lg:px-5 lg:flex-row pb-[60px] pt-10 lg:pt-[96px] lg:pb-20 border-t border-gray-border border-b;
  }

  &-heading {
    @apply my-0 text-3xl font-passion my-4 uppercase;

    &--small {
      @apply text-lg;
    }
  }

  &-col {
    @apply w-full;
  }

  &-col-1 {
    @apply w-full lg:max-w-[360px];
  }

  &-col-2 {
    @apply w-full lg:max-w-[190px] pt-[30px] lg:pt-0;
  }

  &-col-3 {
    @apply w-full lg:max-w-[192px] pt-[30px] lg:pt-0;
  }

  &-col-4 {
    @apply w-full lg:max-w-[244px] pt-[30px] lg:pt-0;
  }

  &-col-wrapper {
    @apply flex flex-col justify-between;
  }

  &-description, &-license {
    @apply mt-[30px] lg:mt-12 my-0;
  }

  &-info {
    @apply pt-[30px] lg:pt-11 flex flex-col gap-5;

    &__text {
      @apply relative leading-none;

      &:last-child {
        @apply pr-0;

        &::before {
          @apply hidden;
        }
      }
    }

    &-loc {
      &__text {
        & > * {
          @apply block leading-normal;
        }
        
        & span {
          @apply mt-2;
        }
      }
    }

    &__link {
      @apply flex gap-3 lg:hover:text-yellow;

      &:not(:first-child) {
        @apply mt-7;
      } 
    }

    &__icon {
      @apply flex-none mt-[5px];
    }
  }

  &-menu {
    @apply pt-[30px] lg:pt-11;

    &-item {
      @apply pt-4 lg:pt-6;

      &:first-child {
        @apply pt-0;
      }
    }

    &__link {
      &:hover {
        @apply lg:text-yellow;
      }
    }
  }

  &-address {
    @apply pt-[30px] lg:pt-11;

    &-item {
      @apply flex gap-[14px] py-4 lg:py-6 border-b;

      &:first-child {
        @apply pt-0;
      }

      &:last-child {
        @apply pb-0 border-b-0;
      }
    }

    &-item-icon {
      @apply pt-1;
    }

    &:hover &-item-text {
      @apply lg:hover:underline;
    }
  }

  &-social {
    @apply pt-[30px] lg:pt-[50px];

    &-list {
      @apply flex flex-wrap gap-5 pt-4;
    }

    &-item__link {
      @apply flex justify-center items-center w-[46px] h-[46px] border border-black24 rounded-full lg:hover:bg-yellow lg:hover:border-yellow;

      & img {
        @apply max-w-5 h-auto w-full;
      }
    }
  }

  &-bottom {
    @apply relative z-[1];

    &-wrapper {
       @apply flex justify-center items-center z-[2] flex-col lg:flex-row py-6;
    }

    &-copy {
      @apply text-center lg:text-left my-0 text-sm;

      & span {
        @apply text-yellow
      }
    }

    &-links {
      @apply flex items-center pt-[30px] lg:pt-0;

      &-item {
        @apply relative pr-8;

        &::after {
          content: "/";
          @apply absolute top-0 right-3; 
        }

        &:last-child {
          @apply pr-0;
        }

        &:last-child::after {
          @apply hidden;
        }
      }

      &__link {
        @apply inline-block lg:hover:underline;
      }
    }
  }

  &__float {
    display: none !important;
    @apply fixed bottom-3 right-3 z-10;

    @screen lg {
      display: inline-block !important;
    }
  }

  &__btn {
    @apply lg:hidden mt-5;
  }

  &__side {
    @apply fixed left-5 top-2/3 -translate-y-1/2 bg-red text-white px-5 py-2 rotate-[-90deg] origin-left z-10 font-passion text-[21px] rounded-bl-[5px] rounded-br-[5px] uppercase lg:hover:bg-blue;
  }
}