.rd-banner {
  @apply relative;

  &-home {
    @apply py-[146px] lg:pt-[391px] lg:pb-[228px];
  }

  &-bg {
    @apply absolute w-full h-full top-0 left-0;

    &__image {
      @apply object-top h-full;
      clip-path: none;

      @media (min-width: 396px) {
        clip-path: circle(1180px at top);
      }

      @media (min-width: 475px) {
        clip-path: circle(165vh at top);
      }

      @media (min-width: 755px) {
        clip-path: circle(160vh at top);
      }

      @screen md {
        clip-path: circle(940px at top);
      }

      @screen lg {
        clip-path: none;
        @apply object-bottom;
      }
    }
  }

  &-wrapper {
    @apply relative z-[3] flex flex-col lg:flex-row items-center gap-10 lg:gap-[100px];
  }

  &-content {
    @apply flex flex-col justify-center items-center lg:items-start w-full lg:max-w-[593px];
  }

  &__title {
    @apply text-[40px] lg:text-[50px] mb-[30px] mt-0 text-white text-center lg:text-left font-anton;
  }

  &__text {
    @apply text-white text-center lg:text-left my-0;
  }

  &__button {
    @apply mt-[30px];
  }

  &-tag {
    @apply pt-12 lg:pt-[188px] flex flex-col lg:flex-row max-w-[250px] lg:max-w-full mx-auto;

    &-item {
      @apply flex gap-[15px] lg:px-[125px] lg:border-r pb-5 lg:pb-0;

      &:first-child {
        @apply lg:pl-0;
      }

      &:last-child {
        @apply lg:pr-0 lg:border-r-0 pb-0;
      }
    }

    &__icon {
      @apply w-6 lg:w-[30px] h-6 lg:h-[30px];
    }

    &__text {
      max-width: calc(100% - 45px);
      @apply text-white font-medium;
    }
  }

  &-inner {
    @apply py-[70px] lg:py-0 lg:pt-[145px] lg:pb-[100px];
  }

  &-inner &-content {
    @apply max-w-[968px] text-center flex-col items-center justify-center mx-auto;
  }

  &-inner &__title {
    @apply mt-0 text-center;
  }

  &-inner &__text {
    @apply text-center;
  }

  &-form {
    @apply max-w-[555px] w-full bg-[#5656564D] border border-[#FFFFFF1A] rounded-xl flex flex-col items-center;
    box-shadow: 0px 8px 58px 0px #0000001F;

    &__title {
      @apply font-anton text-white text-center mt-0 mb-5 text-[32px];
    }

    .fluentform {
      @apply w-full;
    }

    .fluentform-step {
      @apply p-0;
    }

    .ff-step-container {
      @apply relative;
    }

    .ff-step-header {
      @apply absolute bottom-[100px] lg:bottom-[22px] left-0 w-full mb-0 lg:max-w-[323px];
    }

    .ff-column-container {
      @apply gap-[10px];
    }

    .ff-el-group {
      @apply mb-[10px]
    }

    .ff-el-progress-status {
      @apply text-white text-sm;
    }

    .ff-el-progress {
      background-color: rgba(255, 255, 255, 0.12);
      @apply rounded-[3px];
    }

    .ff-el-progress-bar {
      @apply bg-white;

      & span {
        @apply font-verdana font-bold text-black;
      }
    }

    .error {
      @apply text-white;
    }

    .step-nav {
      @apply mt-20 lg:mt-5;
    }

    .ff-inner_submit_container {
      @apply lg:p-3 lg:bg-white lg:rounded-lg;

      .step-nav {
        @apply lg:m-0;
      }

      .ff-btn-submit {
        @apply mt-20 lg:mt-0;
      }
    }
  }

  .rplg {
    @apply w-full
  }

  &-review {
    @apply block w-full;
    margin-bottom: 20px !important;

    &-top {
      @apply flex items-center justify-center text-white;
    }

    &__text {
      font-size: 15px !important;

      &--bold {
        @apply font-bold;
      }
    }

    &-bottom {
      @apply flex items-center justify-center mt-2 text-white;
    }
  }
}