.rd-flexible {
  @apply relative bg-light-yellow;

  &-image {
    @apply flex gap-10 my-[30px] lg:my-[80px];

    & img {
      @apply rounded-[10px];
    }
  }

  &-button {
    @apply my-[30px] lg:my-10;

    &--center {
      @apply flex justify-center;
    }

    &--right {
      @apply flex justify-end;
    }
  }

  &-main {
    & *:last-child {
      @apply mb-0;
    }

    & *:first-child {
      @apply mt-0;
    }
  }

  &-two-column {
    @apply flex flex-col lg:flex-row gap-10;
  }

  &-column {
    @apply w-full lg:w-1/2;
  }

  &-content {
    & a, & a span {
      @apply underline text-yellow;
      font-weight: 700 !important;

      &:hover {
        @apply text-black;
      }
    }

    &--contact {
      @apply flex flex-col lg:flex-row gap-4;

      &-map {
        @apply mt-5 lg:mt-0;
      }
    }
  }

  &--black {
    @apply bg-black80;

    & .rd-flexible-content {
      @apply text-white;

      & a, & a span {
        @apply underline text-white;
        font-weight: 700 !important;

        &:hover {
          @apply text-light-blue;
        }
      }
    }
  }

  &--white {
    @apply bg-white;
  }

  &-with-sidebar {
    @apply flex flex-col lg:flex-row gap-10 lg:gap-20;
  }

  &-with-sidebar &-main {
    @apply w-full lg:w-3/4;
  }

  &-with-sidebar &-sidebar {
    @apply w-full lg:w-1/4;
  }

  &-sidebar {
    &__heading {
      @extend .h3;
      @apply mb-4 block mt-0;
    }

    &-link {
      @apply mb-1;

      & a {
        @apply underline text-yellow;
        font-weight: 700 !important;

        &:hover {
          @apply text-black;
        }
      }
    }
  }
}